### Student Information
Name: 田雷西

Student ID:s1113535

GitHub ID:Thewo-6

---

### Instructions

### First Phase Submission

1. First: do the **take home** exercises in the [DM2025-Lab1-Master](https://github.com/leoson-wu/DM2025-Lab1-Exercise/blob/main/DM2025-Lab1-Master.ipynb) that considered as **phase 1 (from exercise 1 to exercise 15)**. You can answer in the master file. __This part is worth 10% of your grade.__


2. Second: follow the same process from the [DM2025-Lab1-Master](https://github.com/leoson-wu/DM2025-Lab1-Exercise/blob/main/DM2025-Lab1-Master.ipynb) on **the new dataset** up **until phase 1**. You can skip some exercises if you think some steps are not necessary. However main exercises should be completed. You don't need to explain all details as we did (some **minimal comments** explaining your code are useful though).  __This part is worth 15% of your grade.__
    -  Use [the new dataset](https://github.com/leoson-wu/DM2025-Lab1-Exercise/blob/main/newdataset/Reddit-stock-sentiment.csv). The dataset contains a 16 columns including 'text' and 'label', with the sentiment labels being: 1.0 is positive, 0.0 is neutral and -1.0 is negative. You can simplify the dataset and use only the columns that you think are necessary. 
    
    - You are allowed to use and modify the `helper` functions in the folder of the first lab session (notice they may need modification) or create your own.
    - Use this file to complete the homework from the second part. Make sure the code can be run from the beginning till the end and has all the needed output.


3. Third: please attempt the following tasks on **the new dataset**. __This part is worth 10% of your grade.__
    - Generate meaningful **new data visualizations**. Refer to online resources and the Data Mining textbook for inspiration and ideas. 
    


4. Fourth: It's hard for us to follow if your code is messy, so please **tidy up your notebook** and **add minimal comments where needed**. __This part is worth 5% of your grade.__

You can submit your homework following these guidelines: [DM2025-Lab1-announcement](https://github.com/leoson-wu/DM2025-Lab1-Announcement/blob/main/README.md). Make sure to commit and save your changes to your repository __BEFORE the deadline (September 28th 11:59 pm, Sunday)__.

### Second Phase Submission

**You can keep the answer for phase 1 for easier running and update the phase 2 on the same page.**

1. First: Continue doing the **take home** exercises in the [DM2025-Lab1-Master](https://github.com/leoson-wu/DM2025-Lab1-Exercise/blob/main/DM2025-Lab1-Master.ipynb) for **phase 2, starting from Finding frequent patterns**. Use the same master(.ipynb) file. Answer from phase 1 will not be considered at this stage. You can answer in the master file. __This part is worth 10% of your grade.__


2. Second: Continue from first phase and do the same process from the [DM2025-Lab1-Master](https://github.com/leoson-wu/DM2025-Lab1-Exercise/blob/main/DM2025-Lab1-Master.ipynb) on **the new dataset** for phase 2, starting from Finding frequent pattern. You can skip some exercises if you think some steps are not necessary. However main exercises should be completed. You don't need to explain all details as we did (some **minimal comments** explaining your code are useful though).  __This part is worth 15% of your grade.__
    - Continue using this file to complete the homework from the second part. Make sure the code can be run from the beginning till the end and has all the needed output. Use the same new dataset as in phase 1.
    
    - You are allowed to use and modify the `helper` functions in the folder of the first lab session (notice they may need modification) or create your own.

3. Third: please attempt the following tasks on **the new dataset**. __This part is worth 20% of your grade.__
    - Use this file to answer.
    - Generate **TF-IDF features** from the tokens of each text. This will generating a document matrix, however, the weights will be computed differently (using the TF-IDF value of each word per document as opposed to the word frequency).  Refer to this Scikit-learn [guide](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html) .
    - Implement a simple **Naive Bayes classifier** that automatically classifies the records into their categories. Use both the TF-IDF features and word frequency features to build two seperate classifiers. Note that for the TF-IDF features you might need to use other type of NB classifier different than the one in the Master Notebook. Comment on the differences and when using augmentation with feature pattern.  Refer to this [article](https://hub.packtpub.com/implementing-3-naive-bayes-classifiers-in-scikit-learn/).


4. Fourth: In the lab, we applied each step really quickly just to illustrate how to work with your dataset. There are somethings that are not ideal or the most efficient/meaningful. Each dataset can be handled differently as well. What are those inefficent parts you noticed? How can you improve the Data preprocessing for these specific datasets? __This part is worth 10% of your grade.__


5. Fifth: It's hard for us to follow if your code is messy, so please **tidy up your notebook** and **add minimal comments where needed**. __This part is worth 5% of your grade.__


You can submit your homework following these guidelines: [DM2025-Lab1-announcement](https://github.com/leoson-wu/DM2025-Lab1-Announcement/blob/main/README.md). Make sure to commit and save your changes to your repository __BEFORE the deadline (October 19th 11:59 pm, Sunday)__.

# Phase 1

In [2]:
### Begin Assignment Here
# test code for environment setup
import pandas as pd
import numpy as np
import nltk
nltk.download('punkt') # download the NLTK datasets
from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import CountVectorizer
import plotly as py
import math
# If you get "ModuleNotFoundError: No module named 'PAMI'"
# run the following in a new Jupyter cell:
# !pip3 install PAMI
import PAMI
import umap

categories = ['alt.atheism', 'soc.religion.christian', 'comp.graphics', 'sci.med']
twenty_train = fetch_20newsgroups(subset='train', categories=categories, shuffle=True, random_state=42)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\MAX\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

# Exercise 1

In [3]:
# categories
categories = ['alt.atheism', 'soc.religion.christian', 'comp.graphics', 'sci.med']

# obtain the documents containing the categories provided
from sklearn.datasets import fetch_20newsgroups

twenty_train = fetch_20newsgroups(subset='train', categories=categories,
                                  shuffle=True, random_state=42) 
#This command also shuffles the data randomly, but with random_state we can bring the same distribution of data everytime 
#if we choose the same number, in this case "42". This is good for us, it means we can reproduce the same results every time
#we want to run the code.

for i in range(3):
    print(f"Sample {i + 1}:\n")
    print("\n".join(twenty_train.data[i].split("\n")))

Sample 1:

From: sd345@city.ac.uk (Michael Collier)
Subject: Converting images to HP LaserJet III?
Nntp-Posting-Host: hampton
Organization: The City University
Lines: 14

Does anyone know of a good way (standard PC application/PD utility) to
convert tif/img/tga files into LaserJet III format.  We would also like to
do the same, converting to HPGL (HP plotter) files.

Please email any response.

Is this the correct group?

Thanks in advance.  Michael.
--
Michael Collier (Programmer)                 The Computer Unit,
Email: M.P.Collier@uk.ac.city                The City University,
Tel: 071 477-8000 x3769                      London,
Fax: 071 477-8565                            EC1V 0HB.

Sample 2:

From: ani@ms.uky.edu (Aniruddha B. Deglurkar)
Subject: help: Splitting a trimming region along a mesh
Organization: University Of Kentucky, Dept. of Math Sciences
Lines: 28



	Hi,

	I have a problem, I hope some of the 'gurus' can help me solve.

	Background of the problem:
	I have a rectangular mesh in the uv domain, i.e  the mesh is a
	mapping of a 3d Bezier patch into 2d. The area in this domain
	which is inside a trimming loop had to be rendered. The trimming
	loop is a set of 2d Bezier curve segments.
	For the sake of notation: the mesh is made up of cells.

	My problem is this :
	The trimming area has to be split up into individual smaller
	cells bounded by the trimming curve segments. If a cell
	is wholly inside the area...then it is output as a whole ,
	else it is trivially rejected.

	Does any body know how thiss can be done, or is there any algo.
	somewhere for doing this.

	Any help would be appreciated.

	Thanks,
	Ani.
--
To get irritated is human, to stay cool, divine.

Sample 3:

From: djohnson@cs.ucsd.edu (Darin Johnson)
Subject: Re: harrassed at work, could use some prayers
Organization: =CSE Dept., U.C. San Diego
Lines: 63

(Well, I'll email also, but this may apply to other people, so
I'll post also.)

>I've been working at this company for eight years in various
>engineering jobs.  I'm female.  Yesterday I counted and realized that
>on seven different occasions I've been sexually harrassed at this
>company.

>I dreaded coming back to work today.  What if my boss comes in to ask
>me some kind of question...

Your boss should be the person bring these problems to.  If he/she
does not seem to take any action, keep going up higher and higher.
Sexual harrassment does not need to be tolerated, and it can be an
enormous emotional support to discuss this with someone and know that
they are trying to do something about it.  If you feel you can not
discuss this with your boss, perhaps your company has a personnel
department that can work for you while preserving your privacy.  Most
companies will want to deal with this problem because constant anxiety
does seriously affect how effectively employees do their jobs.

It is unclear from your letter if you have done this or not.  It is
not inconceivable that management remains ignorant of employee
problems/strife even after eight years (it's a miracle if they do
notice).  Perhaps your manager did not bring to the attention of
higher ups?  If the company indeed does seem to want to ignore the
entire problem, there may be a state agency willing to fight with
you.  (check with a lawyer, a women's resource center, etc to find out)

You may also want to discuss this with your paster, priest, husband,
etc.  That is, someone you know will not be judgemental and that is
supportive, comforting, etc.  This will bring a lot of healing.

>So I returned at 11:25, only to find that ever single
>person had already left for lunch.  They left at 11:15 or so.  No one
>could be bothered to call me at the other building, even though my
>number was posted.

This happens to a lot of people.  Honest.  I believe it may seem
to be due to gross insensitivity because of the feelings you are
going through.  People in offices tend to be more insensitive while
working than they normally are (maybe it's the hustle or stress or...)
I've had this happen to me a lot, often because they didn't realize
my car was broken, etc.  Then they will come back and wonder why I
didn't want to go (this would tend to make me stop being angry at
being ignored and make me laugh).  Once, we went off without our
boss, who was paying for the lunch :-)

>For this
>reason I hope good Mr. Moderator allows me this latest indulgence.

Well, if you can't turn to the computer for support, what would
we do?  (signs of the computer age :-)

In closing, please don't let the hateful actions of a single person
harm you.  They are doing it because they are still the playground
bully and enjoy seeing the hurt they cause.  And you should not
accept the opinions of an imbecile that you are worthless - much
wiser people hold you in great esteem.
--
Darin Johnson
djohnson@ucsd.edu
  - Luxury!  In MY day, we had to make do with 5 bytes of swap...

# Exercise 2

In [4]:
import pandas as pd

# my functions
import helpers.data_mining_helpers as dmh

# construct dataframe from a list
X = pd.DataFrame.from_records(dmh.format_rows(twenty_train), columns= ['text'])

# add category to the dataframe
X['category'] = twenty_train.target

# add category label also
X['category_name'] = X.category.apply(lambda t: dmh.format_labels(t, twenty_train))

# (0) Quick sanity check
assert {'text','category','category_name'}.issubset(X.columns), "X must have text/category/category_name"

# 1) Basic boolean filtering (AND)
ex1 = X[(X['category_name'] == 'sci.med') & (X['text'].str.len() > 1200)]
display(ex1.head(3))

# 2) OR condition + column subset
ex2 = X[(X['category_name'] == 'comp.graphics') | (X['category_name'] == 'sci.space')][['category_name','text']]
display(ex2.head(3))

# 3) Using .isin and negation (~)
ex3 = X[~X['category_name'].isin(['talk.politics.misc','talk.politics.guns'])]
display(ex3.sample(3, random_state=0))

# 4) The .query() API (same logic as #2, but as a string)
ex4 = X.query("category_name in ['comp.graphics','sci.space']")
display(ex4.head(3))

# 5) String contains (case-insensitive) with regex word boundary
ex5 = X[X['text'].str.contains(r'\bcancer\b', case=False, na=False)]
display(ex5[['category_name','text']].head(3))

# 6) Length-based queries (add a computed column, then filter)
ex6 = X.assign(chars=X['text'].str.len())
display(ex6.query("chars >= 1500").nlargest(3, 'chars')[['category_name','chars']])

# 7) Positional slicing after a filter (every 10th row)
ex7 = X.loc[X['category_name'] == 'sci.med'].iloc[::10]
display(ex7.head(3))

# 8) Group-wise sampling: take 2 examples per category (useful for quick peeks)
ex8 = (X.groupby('category_name', group_keys=False)
         .apply(lambda d: d.head(2)))  # or .sample(n=2, random_state=42)
display(ex8.head(6))

# 9) Counting “keyword hits” per class (boolean mask then groupby mean)
ex9 = (X['text'].str.contains(r'\bwindows\b', case=False, na=False))  # keyword: "windows"
hits_by_class = X.assign(has_kw=ex9).groupby('category_name')['has_kw'].mean().sort_values(ascending=False)
display(hits_by_class.head(5))

# 10) Combining eval/query style for readability (chars & words)
ex10 = X.assign(
    chars = X['text'].str.len(),
    words = X['text'].str.split().str.len()
).query("chars.between(800, 1600) and words >= 120")
display(ex10[['category_name','chars','words']].head(3))

                                                 text  category category_name
7   From: aldridge@netcom.com (Jacquelin Aldridge)...         2       sci.med
9   From: libman@hsc.usc.edu (Marlena Libman) Subj...         2       sci.med
28  From: rind@enterprise.bih.harvard.edu (David R...         2       sci.med

    category_name                                               text
0   comp.graphics  From: sd345@city.ac.uk (Michael Collier) Subje...
1   comp.graphics  From: ani@ms.uky.edu (Aniruddha B. Deglurkar) ...
11  comp.graphics  From: amjad@eng.umd.edu (Amjad A Soomro) Subje...

,text,category,category_name
1604,From: ss6349@csc.albany.edu (Steven H. Schimmr...,3,soc.religion.christian
1036,From: sasghm@theseus.unx.sas.com (Gary Merrill...,2,sci.med
2144,From: berger@chaos.cs.brandeis.edu (David Berg...,1,comp.graphics

                                                 text  category  category_name
0   From: sd345@city.ac.uk (Michael Collier) Subje...         1  comp.graphics
1   From: ani@ms.uky.edu (Aniruddha B. Deglurkar) ...         1  comp.graphics
11  From: amjad@eng.umd.edu (Amjad A Soomro) Subje...         1  comp.graphics

    category_name                                               text
30        sci.med  From: vgwlu@dunsell.calgary.chevron.com (greg ...
103       sci.med  From: mrb@cbnewsj.cb.att.com (m..bruncati) Sub...
123       sci.med  From: david@stat.com (David Dodell) Subject: H...

      category_name  chars
1890  comp.graphics  60713
400   comp.graphics  58574
433   comp.graphics  57076

                                                 text  category category_name
7   From: aldridge@netcom.com (Jacquelin Aldridge)...         2       sci.med
49  From: jimj@contractor.EBay.Sun.COM (Jim Jones)...         2       sci.med
82  From: jason@ab20.larc.nasa.gov (Jason Austin) ...         2       sci.med

C:\Users\MAX\AppData\Local\Temp\ipykernel_130420\3703779350.py:48: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda d: d.head(2)))  # or .sample(n=2, random_state=42)

                                                 text  category  category_name
12  From: I3150101@dbstu1.rz.tu-bs.de (Benedikt Ro...         0    alt.atheism
13  Subject: So what is Maddi? From: madhaus@netco...         0    alt.atheism
0   From: sd345@city.ac.uk (Michael Collier) Subje...         1  comp.graphics
1   From: ani@ms.uky.edu (Aniruddha B. Deglurkar) ...         1  comp.graphics
7   From: aldridge@netcom.com (Jacquelin Aldridge)...         2        sci.med
8   From: geb@cs.pitt.edu (Gordon Banks) Subject: ...         2        sci.med

category_name
comp.graphics             0.111301
sci.med                   0.006734
alt.atheism               0.000000
soc.religion.christian    0.000000
Name: has_kw, dtype: float64

            category_name  chars  words
1           comp.graphics   1004    181
4  soc.religion.christian    966    141
6  soc.religion.christian   1510    242

# Exercise 3

In [5]:
# Answer here
X[X["category_name"] == "sci.med"][::10][0:5]

                                                  text  category category_name
7    From: aldridge@netcom.com (Jacquelin Aldridge)...         2       sci.med
49   From: jimj@contractor.EBay.Sun.COM (Jim Jones)...         2       sci.med
82   From: jason@ab20.larc.nasa.gov (Jason Austin) ...         2       sci.med
118  From: rogers@calamari.hi.com (Andrew Rogers) S...         2       sci.med
142  From: lady@uhunix.uhcc.Hawaii.Edu (Lee Lady) S...         2       sci.med

# Exercise 4

In [6]:
# Answer here
X.isnull().apply(lambda x: dmh.check_missing_values(x), axis=1)

0       (The amount of missing records is: , 0)
1       (The amount of missing records is: , 0)
2       (The amount of missing records is: , 0)
3       (The amount of missing records is: , 0)
4       (The amount of missing records is: , 0)
                         ...
2252    (The amount of missing records is: , 0)
2253    (The amount of missing records is: , 0)
2254    (The amount of missing records is: , 0)
2255    (The amount of missing records is: , 0)
2256    (The amount of missing records is: , 0)
Length: 2257, dtype: object

# Exercise 5

In [ ]:
"I have observed that only the first two records and the fifth one are detected as missing values. The other records contain string representations of missing values, which are not recognized as NaN by pandas."

# Exercise 6

In [ ]:
# Answer here
"1. Row count dropped to 1000 after sampling."
"2. The order of the rows is shuffled randomly."

# Exercise 7

# Phase 2

In [ ]:
### Begin Assignment Here